/* Sass Document */
// Variables
	/* are places for sharing information that you want to reuse throughout your stylesheet. You can store things like colors, font-stacks or any css value you can think of. Variables are declared using '$' */
	
	
$background-color: #868982;
$font-size: 3rem;
$width: 100%;
$padding: 2rem;
$color: #fff;
$hovercolor: #D0A9A9;
