/* Sass Document */
// Variables
	/* are places for sharing information that you want to reuse throughout your stylesheet. You can store things like colors, font-stacks or any css value you can think of. Variables are declared using '$' */
	
	
$primary: #3498db;
$primary-dark: #2980b9;
$background: #f5f5f5;
$arial: Arial, Helvetica, sans-serif;
